.tareasCreadas {
    display: flex;
    flex-direction: column;

    width: 30.7rem;
    margin: 3rem auto 0;
}

.statusTareas {
    display: flex;
    justify-content: space-between;
}

.statusTareas > p {
    color: var(--purple);
    font-weight: bold;
}

.statusTareas > p:first-child {
    color: var(--blue);
    font-weight: bold;
}

span {
    color: var(--gray-100);
    background: var(--gray-400);
    border-radius: 50%;
    padding: 0 .2rem;
    margin-left: .3rem;
}

.tareas {
    margin-top: 1rem;
}

.tarea {
    margin-bottom: .5rem;
    color: var(--gray-100);
    background: var(--gray-400);
    border-radius: 8px;
    padding: .6rem .6rem;

    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    font-size: 0.7rem;
}

.tarea input {
    appearance: none;
    border: 1.4px solid var(--blue);
    width: 0.000005px;
    height: 0.000005px;
    cursor: pointer;
    border-radius: 50%;

    display: flex;
}