.form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .4rem;

    margin-top: -1rem;
}

input {
    padding: 0.5rem;
    width: 25rem;
    background: var(--gray-400);
    color: var(--gray-300);
    border-radius: 8px;
    border: none;
}

button {
    background: var(--blue-dark);
    color: var(--gray-100);
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: .4rem 1rem;

    display: flex;
    align-items: center;

    gap: .2rem;
    cursor: pointer;
}

